@keyframes appear {
  from {
    transform: scale3d(0.95, 0.95, 1);
    opacity: 0
  }

  to {
    transform: scale3d(1, 1, 1);
    opacity: 1
  }
}

@keyframes discount-appear {
  from {
    transform: translateX(102%);
  }

  to {
    transform: translateX(20px);
  }
}