html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  font-family: $open-sans;
  color: #212121;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.2;
  background-color:#efefef;

  &.no-scroll {
    overflow-y: hidden;
  }
}

main {
  padding: 40px 0;

  @include mobile-large {
    padding: 30px 0;
  }
}

footer {
  margin-top: auto;
}

.hidden-title {
  visibility: hidden;
  height: 0;
}

.d-none {
  display: none !important;
}