//breakpoints
$widescreen: 1440px;
$laptop: 1200px;
$tablet: 992px;
$mobile-large: 768px;
$mobile: 576px;

//colors


//fonts
$base-fonts: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$open-sans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;

//colors
//$primary-color: #F6A200;
$primary-color: #F9A825;
$secondary-color: #8bc34a;
//$secondary-color: #43a047;
$gray: #90a4ae;