.card {
  overflow: hidden;
  box-shadow: -4px 4px 2px rgba(216,216,216,0.75);
  position: relative;
  display: block;
  border-radius: 8px;
  width: 100%;
  max-width: 460px;
  margin: 0 auto;
  background-color: #fff;
  padding-bottom: 60px;

  @include mobile {
    max-width: 360px;
  }

  &__img {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;

    @include laptop {
      height: 240px;
    }

    @include tablet {
      height: 280px;
    }

    @include mobile-large {
      height: 200px;
    }

    @include mobile {
      height: 240px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 3s ease-in;
    }

    &:hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  &__share-icon {
    display: none;
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 42px;
    height: 42px;
    fill: $secondary-color;

    &:hover {
      fill: $primary-color;
    }
  }

  &__info {
    padding: 12px 12px 16px 12px;
  }

  &__main-info {
    font-size: 20px;
    font-weight: 500;
  }

  &__beertype {
    color: $secondary-color;
    margin: 4px 0;
    min-height: 48px;

    @include laptop {
      min-height: 72px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    font-family: $montserrat;
    min-height: 58px;
    
    &:hover {
      text-decoration: underline;
    }
  }

  &__testimonial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    margin: 6px  -10px;
    padding: 12px 0;
    border-top: 1px dashed $gray;
    border-bottom: 1px dashed $gray;
  }

  &__test-item {
    width: 33.3333%;
    padding: 0 10px;
  }

  &__test-value {
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 4px;
  }

  &__test-progress {
    position: relative;
    height: 8px;
    background-color: #bbb;
  }

  &__test-progress-value {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background-color: $primary-color;
  }

  &__price {
    font-size: 34px;
    line-height: 1;
    font-weight: 600;
    margin-top: 12px;

    span {
      display: block;

      &:last-child {
        font-size: 20px;
        color: $gray;
      }
    }
  }

  &__price-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__cart {
    display: none;
    cursor: pointer;
    height: 48px;
    width: 48px;
    transition: fill .2s linear;

    &:hover {
      fill: darken($secondary-color, 10%);
    }
  }

  &__bottom {
    padding: 12px;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__details {
    font-size: 22px;
    font-weight: 600;
    text-decoration: underline;
    color: $secondary-color;
    
    &:hover {
      text-decoration: none;
    }
  }
}