.cat-card {
  $root: &;
  display: flex;
  flex-direction: column;
  width: 100%;
  //max-width: 320px;
  height: 312px;
  color: #fff;
  background-color: $secondary-color;
  border-radius: 10px;
  box-shadow: -6px 6px 6px rgba(0, 0, 0, .2);
  @extend .bg-radial;
  overflow: hidden;
  cursor: pointer;
  transition: scale .2s cubic-bezier(.32,.08,.24,1), box-shadow .2s cubic-bezier(.32,.08,.24,1), scale .2s cubic-bezier(.32,.08,.24,1),color .2s cubic-bezier(.32,.08,.24,1);

  @include mobile-large {
    margin: 0 auto;
  }

  &:hover {
    scale: 1.05;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, .18);
  }

  &.active {
    box-shadow: -10px 10px 10px rgba(0, 0, 0, .18);
    text-decoration: underline;

    svg {
      padding: 10px 0;
      fill: rgba($primary-color, .7);
    }
  }

  @include laptop {
    height: 250px;
  }

  @include tablet {
    height: 220px;
  }

  @include mobile-large {
    flex-direction: row;
    align-items: center;
    max-width: 90%;
    width: 80%;
    height: 100px;
  }

  @include mobile {
    max-width: 100%;
    width: 100%;
  }

  svg {
    height: 100%;
    width: 37%;
    padding: 10px 0;
    margin: 0 auto;
    fill: rgb(#000, .7);
    transition: fill .2s linear;

    @include laptop {
      width: 33%;
    }

    @include mobile-large {
      height: 75%;
      width: 20%;
      margin: 0 14px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: $montserrat;
    text-transform: uppercase;
    padding: 8px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 0 0 10px 10px;
    min-height: 98.4px;
    overflow: hidden;

    @include laptop {
      min-height: 68px;
    }

    @include laptop {
      min-height: 63.4px;
    }

    @include mobile-large {
      padding-left: 0;
      min-height: 0;
      background: none;
    }
  }

  h2, h3, h4, h5 {
    font-size: 26px;
    text-align: center;
    padding: 10px;

    @include laptop {
      font-size: 22px;
    }

    @include tablet {
      font-size: 20px;
    }
    
    @include mobile-large {
      text-align: left;
    }
  }
}