.js-tab-content {
  display: none;

  &.active {
    display: block;
    animation: .5s linear appear;
  }

  @keyframes appear {
    from {
      transform: scale3d(.95, .95, 1);
      opacity: .5;
    }
    to {
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
}